<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<extension point="com.change_vision.astah.ui.actionSets">
		<actionSet id="astah_drawio_plugin.actionSet">
			<menu id="astah_drawio_plugin" label="%menu_group"
				path="tool/astah_drawio_plugin">
			</menu>
			<action label="%menu_label_current_diagram"
				class="astah_drawio_plugin.CurrentDiagramToDrawioFileAction"
				menubarPath="tool/astah_drawio_plugin/"
				id="astah_drawio_plugin.CurrentDiagramToDrawioFileAction">
			</action>
			<action label="%menu_label_select_diagrams"
				class="astah_drawio_plugin.SelectDiagramsToDrawioFilesAction"
				menubarPath="tool/astah_drawio_plugin/"
				id="astah_drawio_plugin.SelectDiagramsToDrawioFilesAction">
			</action>
		</actionSet>
	</extension>
</plugin>
